<form [formGroup]="updateForm" (ngSubmit)="(isAdd)?add():submit()" >
  <div class="d-flex register gap-3">
      <h5 class="col-12 m-0">{{(isAdd)? 'Add':'Edit'}} Instructor #{{instructor?.id}}</h5>
      <div class="flex-fill input-small text-center position-relative">
        <input class="input-small flex-fill col-12 text-center" formControlName="firstName" type="text" placeholder="First name" name="firstName">
      </div>

      <div class="flex-fill input-small text-center position-relative">
        <input class="input-small flex-fill col-12 text-center" formControlName="lastName" type="text" placeholder="Last name" name="lastName">
      </div>

      <div class="flex-fill input-small text-center position-relative">
        <input class="input-small col-12 flex-fill text-center" formControlName="email" type="text" placeholder="Email" name="email">
      </div>

      <div class="flex-fill  text-center position-relative large-text-input">
        <div class="mb-3">
          <label for="biosInput" class="form-label">Bios</label>
          <input formControlName="bios" type="text" class="form-control longer-input " id="biosInput" placeholder="Instructor bios">
        </div>
      </div>

      <div *ngIf="!isAdd" class="flex-fill col-12  text-center position-relative">
        <h6>Change photo</h6>
        <input *ngIf="!photoFile" (change)="changePicture($event)" type="file" class="input-photo">
        <div *ngIf="photoFile" >
          <div class="col-4 mx-auto d-flex justify-content-center align-items-center m-2">
            <app-image-display [image]="photoFile" />
          </div>
          <button (click)="uploadPhoto($event)" type="button" class="btn btn-sm btn-primary" >Change</button>
        </div>
      </div>


  </div>
  <div class="small-blank-space"></div>
  <div class="d-inline-block col-6 text-center"><button (click)="closeWindow()" class="btn btn-light btn-lg" type="button" >Cancel</button></div>
  <div  class="d-inline-block col-6 text-center"><button class="btn btn-primary btn-lg" type="submit" >{{(isAdd)? "Create": "Update"}}</button></div>
  <div class="small-blank-space"></div>

</form>
