.main-form {
  background-color: white;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 12px;
  position: relative;
  width: 400px;
  min-height: 350px;
  left: calc(50% - 200px);
  top: calc(50% - 175px);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,1);
  box-shadow: -1px 10px 5px 0px rgba(0,0,0,1);
}
.base {
  background-image: url("https://myownbucket-345345.s3.eu-west-2.amazonaws.com/background404.webp");
  width: 100%;
  height: 100vh;
}
.gradient-overlay {
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9304971988795518) 45%, rgba(241,241,241,0) 100%);
}
.font-inter {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.input-small {
  height: 40px;
  border-radius: 2px;
  background-color: rgb(229, 229, 229);
  border: none;
}
.register {
  justify-content:space-around;
  flex-wrap: wrap;
}
.text-label {
  height: 20px;
}
.small-blank-space {
  height: 20px;
}
.text-red {
  color: red;
  font-size: 15px;
}

.spinner-login {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #474bff;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
     transform: rotate(1turn);
  }
}

@media (max-width:760px){
  .main-form{
    width: 100%;
    left: 0;
  }
}
