<form [formGroup]="updateForm"  (ngSubmit)="submit()" >
  <div class="d-flex register gap-3">
      <h5 class="col-12 m-0">Edit Customer #{{customer?.id}}</h5>
      <div class="flex-fill input-small text-center position-relative">
        <input class="input-small flex-fill col-12 text-center" formControlName="firstName" type="text" placeholder="First name" name="firstName">
      </div>

      <div class="flex-fill input-small text-center position-relative">
        <input class="input-small flex-fill col-12 text-center" formControlName="lastName" type="text" placeholder="Last name" name="lastName">
      </div>

      <div class="flex-fill input-small text-center position-relative">
        <input class="input-small col-12 flex-fill text-center" formControlName="email" type="text" placeholder="Email" name="email">
      </div>

      <div class="flex-fill col-12  d-flex justify-content-center align-items-center text-center position-relative">
        <div class="form-check form-switch col-2  text-center center-input ">
          <input class="form-check-input" formControlName="active" type="checkbox" id="flexSwitchCheckChecked" checked>
          <label  class="form-check-label" for="flexSwitchCheckChecked">Active</label>
        </div>
      </div>

      <div class="flex-fill input-small text-center position-relative">
        <input class="input-small col-12 flex-fill text-center" formControlName="phone" type="tel" placeholder="Phone Number" name="phone">
      </div>

  </div>
  <div class="small-blank-space"></div>
  <div class="d-inline-block col-6 text-center"><button (click)="closeWindow()" class="btn btn-primary btn-lg" type="button" >Cancel</button></div>
  <div class="d-inline-block col-6 text-center"><button class="btn btn-primary btn-lg" type="submit" >Update</button></div>
  <div class="small-blank-space"></div>

</form>
