
<div class="home-banner">
  <div [routerLink]="['/classes']" class="darker pointer inner-box-shadow">
      <text-carousel [inputArray]="['Amazing Prices', 'Flexible Schedule', 'Join instantly', 'Book your session now!']" />
  </div>
</div>

<div class="w-100 separator bg-white">
</div>

<div class="w-100 body-whole">
  <div class=" body-left "></div>
  <div class="body-right ">
      <h2 class=" m-0 text-white text-center text-br">
          Meet Your Goals Together With Us
      </h2>
  </div>
</div>
