<h1 class="details-t1">Billing Details</h1>
<div class="blank-separator"></div>
<h4 class="details-t2">Personal Details</h4>
<div class="blank-separator"></div>

<div class="billing-section">
    <ul class="d-flex flex-column list-unstyled gap-3">
        <li class="p-2"><h5><strong><span>First Name</span></strong>: <span class="">Juan</span></h5></li>
        <li class="p-2"><h5><strong><span>Last Name</span></strong>: <span>Bobo</span></h5></li>
        <li class="p-2"><h5><strong><span>Email</span></strong>: <span>dfdsf@fds.com</span></h5></li>
        <li class="p-2"><h5><strong><span>Phone</span></strong>: <span>074543543543</span></h5></li>
        <li class="p-2"><h5><strong><span>Post Code</span></strong>: <span>nw102jx</span></h5></li>
        <li class="p-2"><h5><strong><span>Address</span></strong>: <span>12 fake street</span></h5></li>
        <li class="p-2"><h5><strong><span>House/Flat Number</span></strong>: <span>69</span></h5></li>

    </ul>
</div>
