<form [formGroup]="updateForm" (ngSubmit)="submit()" >

  <div class="d-flex register gap-3">
      <h5 class="col-12 m-0">Edit Booking #{{selectedBooking?.id}}</h5>

      <select #selectedElement (change)="selectBooking($event.target)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Select Booking</option>
        <option [value]="i" *ngFor="let booking of bookings; let i = index" >{{booking.classes.name}} {{booking.classes.code}} {{booking.dateCreated | date}}</option>
      </select>

      <div class="flex-fill d-flex gap-3 flex-wrap" *ngIf="selectedBooking">
        <div class="flex-fill col-12 input-small text-center position-relative">
          <input class="input-small flex-fill col-12 text-center" formControlName="className" type="text" placeholder="Class name" name="firstName">
        </div>

        <div class="flex-fill d-flex align-items-center col-12 input-small text-center position-relative">
          <h6 class="flex-fill col-12 text-center m-0" type="text" placeholder="Date Created" name="lastName">Created on {{selectedBooking.dateCreated | date}}</h6>
        </div>

        <div class="flex-fill col-12  d-flex justify-content-around align-items-center text-center position-relative">
          <div class="form-check form-switch col-2  text-center center-input ">
            <input class="form-check-input" formControlName="active" type="checkbox" id="isActive" checked>
            <label  class="form-check-label" for="isActive">Active</label>
          </div>
          <div class="form-check form-switch col-2  text-center center-input pe-none">
            <input class="form-check-input " formControlName="paid" type="checkbox" id="isPaid" available="false" checked >
            <label  class="form-check-label" for="isPaid">Paid</label>
          </div>
        </div>

        <div class="flex-fill input-small text-center position-relative">
          <input class="input-small col-12 flex-fill text-center" formControlName="value" type="number" placeholder="Phone Number" name="value">
        </div>

      </div>

  </div>
  <div class="small-blank-space"></div>
  <div class="d-flex justify-content-center" *ngIf="selectedBooking" >
    <div class="d-inline-block col-3 text-center"><button (click)="deleteBooking(selectedBooking.id)" class="btn btn-danger btn-lg" type="button" >Delete</button></div>
    <div class="d-inline-block col-3 text-center"><button (click)="closeWindow()" class="btn btn-mute btn-lg" type="button" >Cancel</button></div>
    <div class="d-inline-block col-3 text-center"><button  class="btn btn-primary btn-lg" type="submit" >Update</button></div>
  </div>
  <div class="small-blank-space"></div>
</form>
