.item-text{
  position: relative;
}

.animate-text{
  animation: slide-down 1s ease-in-out forwards;
}

@keyframes slide-down {
    0% {
      transform: translateY(-75%);
    }
    100% {
      transform: translateY(0);
    }
}

.adfsaa{
  color: aliceblue;
}
